TELEGRAM_BOT_TOKEN=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://zvoltquestcompleter.xcloud.ar/auth/discord/callback

DATABASE_URL=

ENCRYPTION_KEY=

APP_ENV=development

TELEGRAM_WEBHOOK_URL=

TELEGRAM_WEBHOOK_SECRET=