# Telegram
TELEGRAM_BOT_TOKEN=

# Discord OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://zvoltquestcompleter.xcloud.ar/auth/discord/callback

# PostgreSQL
DATABASE_URL=

# Encryption
ENCRYPTION_KEY=

# Application
APP_ENV=development